body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    background-color: burlywood;
}

.cell {
    height: auto;
    background-color: darksalmon;
}

.triggered {
    background-color: black;
}

.button-container {
    display: flex;
    width: 600px;
    justify-content: space-around;
    margin-top: 50px;
}

/* Button CSS style provided by FlightConnections.com */
.gridButton, .resetButton {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
}

.gridButton:hover, .resetButton:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}