body {
    display: flex;    
    justify-content: center;
    background-color: blanchedalmond;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    margin-top: 50px;
    background-color: burlywood;
}

.cell {
    width: 6.25%;
    height: auto;
    background-color: burlywood;
    text-align: center;
}

.triggered {
    background-color: black;
}

